.content {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: darkgreen}

.posts {
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine
}

.section {
  width: 100%;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.section h2 {
    padding: 15px
}
.section p {
    padding: 15px
}
.feature {
   background-color: greenyellow;
}
.action {
   background-color: forestgreen;
}
.post {
    background-color: lawngreen;
}
.end {
    background-color: beige
}
.info {
    
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .feature {
        width: 50%;
    }
    .action {
        width: 50%;
    }
}
@media only screen and (min-width: 961px) {
    .content {
        width: 960px;
        margin: 0 auto;
    }

    .feature {
        width: 305px;
    }
}